<!DOCTYPE html>
<html lang="en,ru">
<head>
    <div id="GALAVA">
      <img class="LOGOHEAD" scr=""/>
      <a>Нет Пути Сайт бесплатно.</a>
      <button id="menuA">Настройки</button>
      <button href="https://www.youtube.com/watch?v=PkT0PJwy8mI" id="menuB">Не нажимать</button>
      <button id="menuC">Работа</button>
      <button id="menuD">Помощь</button>
    </div>
</head>
<body>
    <div href="" class="musor1">
      <h1>Мусор</h1>
      <img class="musor1png" scr=""/>
      <b1>19 юаней</b1>
  </div>

</body>
</html>